<div class="text-center">
    {{!-- <img class="imgMain" src='assets/img/burger.png'> --}}
    <h1>Look! Let's scrape!</h1>
{{!-- 
        <ul>
        {{#each burgers }}
        <row>
            <li>{{burger_name}} - 
                {{#if burger_eaten}}Click the grill to make another! (>>> that's a grill>>>){{else}}Looks Delicious, right?{{/if}} 
                {{#if burger_eaten}}  
                <img class="toggleEatBurger smallImg" burgerId="{{burger_id}}" burgerEaten="{{burger_eaten}}" title="Make another of this burger!" src="https://cdn3.iconfinder.com/data/icons/4th-of-july-1/64/Grill-128.png">
                {{else}}  
                <img class="toggleEatBurger smallImg" burgerId="{{burger_id}}" burgerEaten="{{burger_eaten}}" title="Mmmm eat the burger!" src="https://cdn4.iconfinder.com/data/icons/simple-lines-2/32/Packman_Game_Character_Leisure_Eat_Smile-128.png">
                {{/if}} - 
                <a href="/burger/{{burger_id}}"><img class="updateBurger smallImg" burgerId="{{burger_id}}" title="Make the burger MORE delicious!" src="https://cdn2.iconfinder.com/data/icons/font-awesome/1792/pencil-square-o-128.png"></a> - 
                <img class="deleteBurger smallImg" burgerId="{{burger_id}}" title="This burger isn't so good - GOODBYE!" src="https://cdn4.iconfinder.com/data/icons/social-media-2082/32/Os_X-128.png">
            </li>
        </row>
        {{/each}}
        </ul> --}}
    </container>
    <label for="newBurger">Create New Burger: </label>
    <input id="newBurger" class="form-control" type="text">
    <button id="createNewBurgerButton" class="btn btn-success">Create This Burger</button>
</div>